<div class="container text-center">
  <h1>New Roommate</h1>
</div>
<div class="container text-center">
  <%= render 'form' %>
  <button type="button" class="btn btn-default btn-sm active"><%= link_to 'Back', edit_house_path(current_user.house) %></button>
</div>
<div class="container text-center">
  <%= image_tag 'friends.jpg' %>
</div>