<h1><% if current_user.house %>
      <%= current_user.house.name %>'s Dashboard
    <% else %>
      Dashboard
    <% end %>
</h1>

<div class="options">
  <ul>
    <li><% if current_user.house %>
          <%= link_to 'House Profile', house_path(current_user.house.id) %>
        <% else %>
          <%= link_to 'Create House Profile', new_house_path %>
        <% end %>
    </li>
    <li>Calculate Expenses</li>
    <li>Past Expenses</li>
  </ul>
</div>