<div class="container_centered">
  <div class="row">
    <div class="col-xs-12">
      <h1>Create your house profile:</h1>

      <%= render "form" %>

       <%= image_tag 'house.jpg' %>
    </div>
  </div>
</div>