.roommates {
  background: rgba(255,255,255,0.9);
  width: 500px;
}

.table-general {
  background: rgba(255,255,255,0.9);
  margin-bottom: 20px;
}

.container h3 {
  color: white;
}

.container a:link {
  background: none;
  text-decoration: none;
}

.buttons {
  margin: 20px;
  
}