.roommates {
  margin-top: 20px;
  width: 500px;
}

.table-general {
  margin-top: 20px;
  margin-bottom: 20px;
}


.container a:link {
  background: none;
  text-decoration: none;
}

.buttons {
  margin: 20px;
  
}